.titleLabel {
  grid-column: 1 / 6;
  grid-row: 1 / 1;

  font-size: x-large;
  font-weight: bold;

  background-color: blueviolet;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.featureItem {
  justify-self: start;
  padding: 0 0.2em;
}
