.titleLabel {
  grid-column: 2 / 6;
  grid-row: 1 / 2;

  font-size: x-large;
  font-weight: bold;

  padding: 1em 8em;
  background-color: blueviolet;
}
.container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.featureItem {
  justify-self: center;
  padding: 1em;
}
