.titleLabel {
  font-size: x-large;
  font-weight: bold;
  padding: .5em;
}
.container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.featureItem {
  justify-self: center;
  padding: 1em;
}
